# dependencies
node_modules/

# environment variables
.env

# production
build/
dist/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db


# git add .
# git commit -m "Initial commit"
# git branch -M main
# git push -u origin main